__pycache__/
*.egg
.vscode/
*.egg-info/
.DS_Store

# Sphinx build directory
build/

# Sphinx doctrees directory
doctrees/
html/

# Temporary files
*.swp
*.bak
*.tmp
.coverage

# data files
*.csv
*.json
*.whl
*.tar.gz
