name: Build and Deploy Docs

on:
  push:
    branches: [main]
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build-and-deploy-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Cache Poetry & pip
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pypoetry
            ~/.cache/pip
          key: ${{ runner.os }}-poetry-docs-${{ hashFiles('**/poetry.lock','**/pyproject.toml') }}

      - name: Install dependencies (including dev)
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry config virtualenvs.create false
          poetry install --no-interaction --no-ansi --with dev

      - name: Regenerate API documentation
        run: |
          poetry run sphinx-apidoc -o docs/source/api footix -f

      - name: Build documentation
        run: |
          poetry run sphinx-build -b html -W docs/source docs/build/html

      - name: Run linkcheck
        run: |
          poetry run sphinx-build -b linkcheck docs/source docs/build/linkcheck
        continue-on-error: true

      - name: Upload artifacts
        uses: actions/upload-pages-artifact@v2
        with:
          path: 'docs/build/html'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
